REQUIREMENTS
============
- icons 3 tints
- mp3 widget
- contact launcher
	- bellen
	- sms


SCREENS
=======
- home
- all apps
- hidden apps
- games
- notification bord
- mp3 widget

V2
==
- settings
